version: "3"
services:
  web:
    image: sshillyer/chatty:latest
    # deploy:
    #   replicas: 5
    #   resources:
    #     limits:
    #       cpus: "0.1"
    #       memory: 50M
    #   restart_policy:
    #     condition: on-failure
    ports:
      - "3001:3001"
      - "8080:8080"
    networks:
      - webnet
    environment:
      - REDIS_HOST="redis://db:6379"
  redis:
    image: sshillyer/redis
    # ports:
    #   - "6379:6379"
    networks:
      - webnet
networks:
  webnet: